  	<header role="banner">
    	{{ page.header }}
  	</header>
  	{{ page.content }}
    <footer>
        <div class="debug">
            <div class="container">
                <p>Para una atención personalizada</p>
            </div>
        </div>
        <div class="bottom">
            <div class="container">
                <div class="logo">Tas-Choapa</div>
                <div>
                    <ul>
                        <li><span>Chile</span></li>
                        <li>Teléfono: : +56 228227509 </li>
                        <li>Horario de atención: Lunes a Domingo 07:30 a 22:15 hrs</li>
                    </ul>
                    <ul>
                        <li><span>Perú</span></li>
                        <li>Teléfono: : +56 228227509 </li>
                        <li>Horario de atención: Lunes a Domingo 07:30 a 22:15 hrs</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><span>Argentina</span></li>
                        <li>Teléfono: : +56 228227509 </li>
                        <li>Horario de atención: Lunes a Domingo 07:30 a 22:15 hrs</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>