    <header>
        <div class="container">
            <a href="#home" class="logo easy">Tas Choapa</a>
            <!---->
            <div class="menu_bar">
                <a href="javascript:void(0)" class="toggle">Menu</a>
            </div>
            <nav>
                <ul>
                    <li><a href="#horarios" class="easy">Horarios y destinos</a></li>
                    <li><a href="#buses" class="easy">Tipo de buses y asientos</a></li>
                    <li><a href="#venta" class="easy">Puntos de venta</a></li>
                    <li><a href="#informacion" class="easy">Información del viaje</a></li>
                    <li><a href="#contacto" class="easy">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>